.filterDiv{
    text-align: left;
    margin: auto;
    padding: 27px;
}
.profileImage{
    width: 100px !important;
    border-radius: 20px !important;
    height: 80px !important;
}
.menu .main-menu ul li a {
    height: 70px;
}
.padding-left0{
    padding-left: 0 !important;
}
.pending{
    padding: 3px 10px 3px !important;
}